@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-noir: #0c0a09;
  /* stone-950 */
  --text-gold: #d6bda0;
}

body {
  @apply bg-stone-950 text-stone-200 font-body overflow-x-hidden;
}

/* Hide Scrollbar Standard & Firefox */
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide Scrollbar Chrome/Safari/Webkit */
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Selection Color */
::selection {
  background: #d6bda0;
  /* Goldish */
  color: #0c0a09;
}

/* Utility for hiding scrollbar in specific containers if needed */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Global Focus Styles for Accessibility */
:focus-visible {
  outline: 2px solid #b45309;
  /* amber-700 */
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* Form Input Overrides */
/* Hide Number Input Spinners (Arrows) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Custom Calendar Picker Icon Alignment inside the Noir Theme */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8) sepia(1) hue-rotate(330deg) saturate(3) brightness(0.9);
  padding-left: 0.5rem;
}